body{

margin:0;

padding:20px;

font-family:Arial,sans-serif;

background:#eef8ff;

text-align:center;

}

h1{

color:#1565c0;

}

.game{

display:flex;

justify-content:center;

gap:50px;

flex-wrap:wrap;

margin-top:30px;

}

#board{

display:grid;

grid-template-columns:repeat(5,90px);

gap:10px;

}

.slot{

width:90px;

height:90px;

border:2px dashed #bbb;

border-radius:12px;

background:white;

}

#pieces{

display:grid;

grid-template-columns:repeat(3,90px);

gap:10px;

}

.block{

width:90px;

height:90px;

border-radius:12px;

display:flex;

align-items:center;

justify-content:center;

font-size:25px;

font-weight:bold;

color:white;

cursor:grab;

box-shadow:0 5px 10px rgba(0,0,0,.2);

}

#status{

margin-top:30px;

font-size:22px;

font-weight:bold;

color:green;

}
